body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1rem;
    color: #333333;
}

header {
    background-color: #f8e9d9;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

header img {
    width: 150px;
    height: auto;
}

section {
    padding: 30px;
}

.banner {
    padding: 0;
}

.container {
    position: relative;
}

.container img {
    width: 100%;
    max-height: auto;
}

.container .btn {
    position: absolute;
    top: 65%;
    left: 70%;
    background-color: #7d5e3d;
    color: #fff8f8;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #ffffff;
    text-align: center;
}

.container .btn:hover {
    background-color: #aa8660;
}

.intro {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 16vw;
    margin: 10px;
}

.intro p {
    color: #666666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.intro .btn {
    display: none;
}

.benefits {
    background-color: #f8e9d9;
    border-radius: 30px;
    margin: 0 15vw;
    text-align: center;
}

.benefit-item {
    display: inline-block;
    margin: 20px;
}

.benefit-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.cookies {
    padding: 50px 0;
    text-align: center;
}

.cookie {
    display: inline-block;
    margin: 20px;
}

.cookie img {
    width: 200px;
    border-radius: 50px;
}

.faq-section {
    background-color: #f8e9d9;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 0 70px 0 70px;
    padding-bottom: 10px;
}

.faq-section .question {
    font-weight: bold;
    margin-bottom: 10px;
}

.faq-section .answer {
    margin-bottom: 20px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 30px 0 30px 0;
    position: relative;
}

#testimonials {
    display: none;
}

.cookie-mascot {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: opacity 2s;
    opacity: 0;
}

.cookie-mascot.visible {
    opacity: 1;
}

.mascot {
    width: 125px;
    animation: rotate 4s infinite linear;
}

@keyframes rotate {
    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.mascot-message {
    display: none;
    position: absolute;
    right: 110px;
    bottom: 130px;
    background-color: #ea9c68;
    color: #FFF;
    padding: 15px 20px;
    border-radius: 15px 15px 0 15px;
    border: 2px solid #FFF;
    box-shadow: 0px 5px 10px #00000033;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.mascot:hover+.mascot-message,
.mascot-message:hover {
    display: block;

}

@media screen and (max-width: 1024px) {
    header {
        padding: 10px 0;
    }

    header img {
        width: 120px;
    }

    #banner {
        display: none;
    }

    header h1 {
        font-size: 2rem;
        margin: 0px 10px 0px 10px;
    }

    nav {
        margin-top: 10px;
    }

    .intro {
        padding: 20px 10vw;
    }

    .intro .btn {
        display: inline;
        background-color: #7d5e3d;
        color: #fff8f8;
        font-size: 16px;
        padding: 12px 24px;
        cursor: pointer;
        border-radius: 5px;
        border-color: #ffffff;
        text-align: center;
    }

    .container {
        position: relative;
    }

    .container .btn {
        display: none;
    }

    .benefits {
        margin: 0 10vw;
    }

    .benefit-item {
        width: 150px;
    }

    .cookie img {
        width: 150px;
        border-radius: 30px;
    }

    .faq-section {
        padding-bottom: 60px;
        margin: 0 20px 0px 20px;
    }

    footer {
        padding: 20px 0;
    }

    #testimonials {
        display: block;
        background-color: #f8e9d9;
        padding-top: 20px;
        text-align: center;
        border-radius: 50px;
        margin: 0px 20px 50px 20px;
    }

    #testimonials h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .testimonial {
        margin-bottom: 40px;
    }

    .testimonial img {
        width: 120px;
        border-radius: 50%;
        margin: 0 auto 20px;
        border: 4px solid #f8e9d9;
    }

    .testimonial p {
        color: #333;
        margin-bottom: 20px;
        line-height: 1.6;
        padding: 0 20px;
    }

    .testimonial .customer-name {
        font-style: italic;
        color: #aa8660;
        font-weight: bold;
    }

    .mascot {
        width: 100px;
    }

    .mascot-message {
        right: 100px;
        bottom: 110px;
        padding: 15px 20px;
        font-size: 13px;
        font-family: 'Comic Neue','Comic Sans MS', cursive, sans-serif;
        font-weight: 700;
    }
}