body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1rem;
    color: #333333;
}

header {
    background-color: #f8e9d9;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

header img {
    width: 150px;
    height: auto;
}

section {
    padding: 30px;
}

.banner {
    padding: 0;
}

.container {
    position: relative;
}

.container img {
    width: 100%;
    max-height: auto;
}

.container .btn {
    position: absolute;
    top: 65%;
    left: 70%;
    background-color: #7d5e3d;
    color: #fff8f8;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #ffffff;
    text-align: center;
}

.container .btn:hover {
    background-color: #aa8660;
}

.intro {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 16vw;
    margin: 10px;
}

.intro p {
    color: #666666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.intro .btn {
    display: none;
}

.benefits {
    background-color: #f8e9d9;
    border-radius: 30px;
    margin: 0 15vw;
    text-align: center;
}

.benefit-item {
    display: inline-block;
    margin: 20px;
}

.benefit-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.cookies {
    padding: 50px 0;
    text-align: center;
}

.cookie {
    display: inline-block;
    margin: 20px;
}

.cookie img {
    width: 200px;
    border-radius: 50px;
}

.faq-section {
    background-color: #f8e9d9;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 0 70px 0 70px;
    padding-bottom: 10px;
}

.faq-section .question {
    font-weight: bold;
    margin-bottom: 10px;
}

.faq-section .answer {
    margin-bottom: 20px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 30px 0 30px 0;
    position: relative;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 10px 0;
    }

    header img {
        width: 120px;
    }

    #banner {
        display: none;
    }

    header h1 {
        font-size: 2rem;
        margin: 0px 10px 0px 10px;
    }

    nav {
        margin-top: 10px;
    }

    .intro {
        padding: 20px 10vw;
    }

    .intro .btn {
        display: inline;
        background-color: #7d5e3d;
        color: #fff8f8;
        font-size: 16px;
        padding: 12px 24px;
        cursor: pointer;
        border-radius: 5px;
        border-color: #ffffff;
        text-align: center;
    }

    .container {
        position: relative;
    }

    .container .btn {
        display: none;
    }

    .benefits {
        margin: 0 10vw;
    }

    .benefit-item {
        width: 150px;
    }

    .cookie img {
        width: 150px;
        border-radius: 30px;
    }

    .faq-section {
        padding-bottom: 60px;
        margin: 0 20px 0px 20px;
    }

    footer {
        padding: 20px 0;
    }
}